h1 {
    color: darkblue;
    text-align: center;
}
body {
    background-color: yellowgreen;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height:1.6em;
    margin:0;
    text-align: center;
}

.container {
    width:80%;
    margin:auto;
}

.box-1 {
    background-color:silver;
    color: chocolate;
}



